In [99]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz

In [100]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

def get_similarity(s1, s2):    
    vectorizer = TfidfVectorizer()
    vectors = vectorizer.fit_transform([s1, s2])
    similarity = cosine_similarity(vectors[0], vectors[1])
    
    return similarity[0][0]

In [101]:
mapping_path = "db/mapping/export/export_mapping.csv"
data_path = "db/tw/data/export/tw_export_m.csv"

mapping = pd.read_csv(mapping_path, index_col=None)
data = pd.read_csv(data_path, index_col=[0])

In [143]:
index = 0
keep_list = [1, 5, 3]
mapping_list = mapping.iloc[[index]].T[index]

if mapping_list[2] == "Value":
    mapping_list = mapping_list[[1, 5, 3]].dropna()
else:
    mapping_list = mapping_list[[1, 5, 2, 3]].dropna()
    
if "Total" in mapping_list:
    mapping_list.remove("Total")
    
mapping_string = ", ".join(mapping_list)
mapping_string

'Exports, USD'

In [144]:
fuzzscore_list = []
cosscore_list = []


data_columns = data.columns

for i in mapping_list:
    data_columns = data_columns[data_columns.str.lower().str.contains(i.lower())]

data_columns_revised = data_columns.str.replace(", All", "")
    
for i in data_columns_revised:
    fuzzscore = fuzz.token_sort_ratio(i, mapping_string) / 100
    cosscore = get_similarity(i, mapping_string)
    
    fuzzscore_list.append(fuzzscore)
    cosscore_list.append(cosscore)

In [176]:
result = pd.DataFrame({"dataname": data_columns.tolist(), "fuzzscore": fuzzscore_list, "cosscore": cosscore_list}).sort_values(by=["cosscore", "fuzzscore"], ascending=False)
result = result.loc[result['fuzzscore'] > 0.6]
result['overallscore'] = (result['fuzzscore'] + result['cosscore']) / 2
result['mappingname'] = mapping_string
result['mappingindex'] = index
result['matchinglength'] = len(result)

result.index = range(len(all_result), len(all_result) + len(result))

In [275]:
from tqdm import tqdm
all_result = pd.DataFrame()

for index in tqdm(mapping.index, desc='Processing mapping', unit='mapping'):
    mapping_list = mapping.iloc[[index]].T[index]
    if mapping_list[0] != "Monthly":
        continue

    if mapping_list[2] == "Value":
        mapping_list = mapping_list[[1, 5, 3]].dropna()
    else:
        mapping_list = mapping_list[[1, 5, 2, 3]].dropna()

    if "Total" in mapping_list:
        mapping_list.remove("Total")

    mapping_string = ", ".join(mapping_list)

    data_columns = data.columns

    for i in mapping_list:
        data_columns = data_columns[data_columns.str.lower().str.contains(i.lower())]
    

    data_columns_revised = data_columns.str.replace(", All", "")

    fuzzscore_list = []
    cosscore_list = []
    for i in data_columns_revised:
        fuzzscore = fuzz.token_sort_ratio(i, mapping_string) / 100
        cosscore = get_similarity(i, mapping_string)

        fuzzscore_list.append(fuzzscore)
        cosscore_list.append(cosscore)

    result = pd.DataFrame({"dataname": data_columns.tolist(), "fuzzscore": fuzzscore_list, "cosscore": cosscore_list}).sort_values(by=["cosscore", "fuzzscore"], ascending=False)
    result = result.loc[(result['fuzzscore'] > 0.6) & (result['cosscore'] > 0.5)]
        
    result['overallscore'] = (result['fuzzscore'] + result['cosscore']) / 2
    result['mappingname'] = mapping_string
    result['mappingindex'] = index
    result['matchinglength'] = len(result)

    result.index = range(len(all_result), len(all_result) + len(result))

    all_result = pd.concat([all_result, result], axis=0)

Processing mapping: 100%|█████████████| 5346/5346 [00:11<00:00, 474.18mapping/s]

In [276]:
duplicated_dataname_u = all_result[all_result['dataname'].duplicated()]['dataname'].unique()

for duplicate in duplicated_dataname_u:
    duplicate_df = all_result.loc[all_result['dataname'] == duplicate].sort_values(by="overallscore", ascending=False)
    all_result.drop(duplicate_df.index[1:], inplace=True)

In [277]:
duplicated_mappingname_u = all_result[all_result['mappingname'].duplicated()]['mappingname'].unique()

for duplicate in duplicated_mappingname_u:
    duplicate_df = all_result.loc[all_result['mappingname'] == duplicate].sort_values(by="overallscore", ascending=False)
    all_result.drop(duplicate_df.index[1:], inplace=True)

In [278]:
all_result

,dataname,fuzzscore,cosscore,overallscore,mappingname,mappingindex,matchinglength
0,"Exports, All, USD",1.00,1.000000,1.000000,"Exports, USD",0,31
31,"Exports, Semiconductors HS 776, USD",0.88,0.656973,0.768486,"Exports, Semiconductors, USD",1,5
36,"Exports, China and Hong Kong, USD",0.71,0.579739,0.644869,"Exports, China, USD",5,3
39,"Exports, DM excl Japan, USD",0.81,0.656973,0.733486,"Exports, Japan, USD",6,5
44,"Exports, EU, USD",1.00,1.000000,1.000000,"Exports, EU, USD",9,6
50,"Exports, US, USD",1.00,1.000000,1.000000,"Exports, US, USD",10,12
62,"Exports, All, LCU",1.00,1.000000,1.000000,"Exports, LCU",11,30
92,"Exports, Semiconductors HS 776, LCU",0.88,0.656973,0.768486,"Exports, Semiconductors, LCU",12,5
97,"Exports, China and Hong Kong, LCU",0.71,0.579739,0.644869,"Exports, China, LCU",16,3
100,"Exports, DM excl Japan, LCU",0.81,0.656973,0.733486,"Exports, Japan, LCU",17,5
105,"Exports, EU, LCU",1.00,1.000000,1.000000,"Exports, EU, LCU",20,6
111,"Exports, US, LCU",1.00,1.000000,1.000000,"Exports, US, LCU",21,6
117,"Exports, All, USD, % YoY",1.00,1.000000,1.000000,"Exports, USD, % YoY",33,16
133,"Exports, Semiconductors HS 776, USD, % YoY",0.90,0.709297,0.804649,"Exports, Semiconductors, USD, % YoY",34,2
135,"Exports, China and Hong Kong, USD, % YoY",0.75,0.634809,0.692404,"Exports, China, USD, % YoY",38,2
137,"Exports, DM excl Japan, USD, % YoY",0.84,0.709297,0.774649,"Exports, Japan, USD, % YoY",39,2
139,"Exports, EU, USD, % YoY",1.00,1.000000,1.000000,"Exports, EU, USD, % YoY",42,2
141,"Exports, US, USD, % YoY",1.00,1.000000,1.000000,"Exports, US, USD, % YoY",43,13
154,"Exports, All, LCU, % YoY",1.00,1.000000,1.000000,"Exports, LCU, % YoY",44,16
170,"Exports, Semiconductors HS 776, LCU, % YoY",0.90,0.709297,0.804649,"Exports, Semiconductors, LCU, % YoY",45,2
172,"Exports, China and Hong Kong, LCU, % YoY",0.75,0.634809,0.692404,"Exports, China, LCU, % YoY",49,2
174,"Exports, DM excl Japan, LCU, % YoY",0.84,0.709297,0.774649,"Exports, Japan, LCU, % YoY",50,2
176,"Exports, EU, LCU, % YoY",1.00,1.000000,1.000000,"Exports, EU, LCU, % YoY",53,2
178,"Exports, US, LCU, % YoY",1.00,1.000000,1.000000,"Exports, US, LCU, % YoY",54,2
180,"Exports, All, USD, SA",1.00,1.000000,1.000000,"Exports, USD, SA",66,11
191,"Exports, Semiconductors HS 776, USD, SA",0.89,0.709297,0.799649,"Exports, Semiconductors, USD, SA",67,2
193,"Exports, China and Hong Kong, USD, SA",0.74,0.634809,0.687404,"Exports, China, USD, SA",71,1
194,"Exports, DM excl Japan, USD, SA",0.83,0.709297,0.769649,"Exports, Japan, USD, SA",72,2
196,"Exports, EU, USD, SA",1.00,1.000000,1.000000,"Exports, EU, USD, SA",75,3
199,"Exports, US, USD, SA",1.00,1.000000,1.000000,"Exports, US, USD, SA",76,10
209,"Exports, All, LCU, SA",1.00,1.000000,1.000000,"Exports, LCU, SA",77,22
231,"Exports, Semiconductors HS 776, LCU, SA",0.89,0.709297,0.799649,"Exports, Semiconductors, LCU, SA",78,4
235,"Exports, China and Hong Kong, LCU, SA",0.74,0.634809,0.687404,"Exports, China, LCU, SA",82,3
238,"Exports, DM excl Japan, LCU, SA",0.83,0.709297,0.769649,"Exports, Japan, LCU, SA",83,4
242,"Exports, EU, LCU, SA",1.00,1.000000,1.000000,"Exports, EU, LCU, SA",86,5
247,"Exports, US, LCU, SA",1.00,1.000000,1.000000,"Exports, US, LCU, SA",87,5
282,"Exports, All, USD, % MoM, SA",1.00,1.000000,1.000000,"Exports, USD, % MoM, SA",165,21
303,"Exports, Semiconductors HS 776, USD, % MoM, SA",0.90,0.747407,0.823704,"Exports, Semiconductors, USD, % MoM, SA",166,2
305,"Exports, China and Hong Kong, USD, % MoM, SA",0.77,0.676479,0.723240,"Exports, China, USD, % MoM, SA",170,2
307,"Exports, DM excl Japan, USD, % MoM, SA",0.86,0.747407,0.803704,"Exports, Japan, USD, % MoM, SA",171,2
309,"Exports, EU, USD, % MoM, SA",1.00,1.000000,1.000000,"Exports, EU, USD, % MoM, SA",174,2
311,"Exports, US, USD, % MoM, SA",1.00,1.000000,1.000000,"Exports, US, USD, % MoM, SA",175,18
329,"Imports, All, USD",1.00,1.000000,1.000000,"Imports, USD",594,11
344,"Imports, All, LCU",1.00,1.000000,1.000000,"Imports, LCU",605,11
355,"Imports, All, USD, % YoY",1.00,1.000000,1.000000,"Imports, USD, % YoY",627,7
367,"Imports, All, LCU, % YoY",1.00,1.000000,1.000000,"Imports, LCU, % YoY",638,7
374,"Imports, All, USD, SA",1.00,1.000000,1.000000,"Imports, USD, SA",660,4
381,"Imports, All, LCU, SA",1.00,1.000000,1.000000,"Imports, LCU, SA",671,9
398,"Imports, All, USD, % MoM, SA",1.00,1.000000,1.000000,"Imports, USD, % MoM, SA",759,8
414,"Trade balance, USD",1.00,1.000000,1.000000,"Trade balance, USD",1188,3
420,"Trade balance, LCU",1.00,1.000000,1.000000,"Trade balance, LCU",1199,2
422,"Trade balance, USD, SA",1.00,1.000000,1.000000,"Trade balance, USD, SA",1254,2
426,"Trade balance, LCU, SA",1.00,1.000000,1.000000,"Trade balance, LCU, SA",1265,1

In [264]:
mapping.loc[all_result['mappingindex'], "TW"] = all_result['dataname'].tolist()

In [268]:
mapping.loc[~mapping["TW"].isna()]

,0,1,2,3,4,5,TW
0,Monthly,Exports,Value,USD,Total,NaN,"Exports, All, USD"
1,Monthly,Exports,Value,USD,By Product,Semiconductors,"Exports, Semiconductors HS 776, USD"
5,Monthly,Exports,Value,USD,By Country,China,"Exports, China and Hong Kong, USD"
6,Monthly,Exports,Value,USD,By Country,Japan,"Exports, DM excl Japan, USD"
9,Monthly,Exports,Value,USD,By Country,EU,"Exports, EU, USD"
10,Monthly,Exports,Value,USD,By Country,US,"Exports, US, USD"
11,Monthly,Exports,Value,LCU,Total,NaN,"Exports, All, LCU"
12,Monthly,Exports,Value,LCU,By Product,Semiconductors,"Exports, Semiconductors HS 776, LCU"
16,Monthly,Exports,Value,LCU,By Country,China,"Exports, China and Hong Kong, LCU"
17,Monthly,Exports,Value,LCU,By Country,Japan,"Exports, DM excl Japan, LCU"
20,Monthly,Exports,Value,LCU,By Country,EU,"Exports, EU, LCU"
21,Monthly,Exports,Value,LCU,By Country,US,"Exports, US, LCU"
33,Monthly,Exports,Value,"USD, % YoY",Total,NaN,"Exports, All, USD, % YoY"
34,Monthly,Exports,Value,"USD, % YoY",By Product,Semiconductors,"Exports, Semiconductors HS 776, USD, % YoY"
38,Monthly,Exports,Value,"USD, % YoY",By Country,China,"Exports, China and Hong Kong, USD, % YoY"
39,Monthly,Exports,Value,"USD, % YoY",By Country,Japan,"Exports, DM excl Japan, USD, % YoY"
42,Monthly,Exports,Value,"USD, % YoY",By Country,EU,"Exports, EU, USD, % YoY"
43,Monthly,Exports,Value,"USD, % YoY",By Country,US,"Exports, US, USD, % YoY"
44,Monthly,Exports,Value,"LCU, % YoY",Total,NaN,"Exports, All, LCU, % YoY"
45,Monthly,Exports,Value,"LCU, % YoY",By Product,Semiconductors,"Exports, Semiconductors HS 776, LCU, % YoY"
49,Monthly,Exports,Value,"LCU, % YoY",By Country,China,"Exports, China and Hong Kong, LCU, % YoY"
50,Monthly,Exports,Value,"LCU, % YoY",By Country,Japan,"Exports, DM excl Japan, LCU, % YoY"
53,Monthly,Exports,Value,"LCU, % YoY",By Country,EU,"Exports, EU, LCU, % YoY"
54,Monthly,Exports,Value,"LCU, % YoY",By Country,US,"Exports, US, LCU, % YoY"
66,Monthly,Exports,Value,"USD, SA",Total,NaN,"Exports, All, USD, SA"
67,Monthly,Exports,Value,"USD, SA",By Product,Semiconductors,"Exports, Semiconductors HS 776, USD, SA"
71,Monthly,Exports,Value,"USD, SA",By Country,China,"Exports, China and Hong Kong, USD, SA"
72,Monthly,Exports,Value,"USD, SA",By Country,Japan,"Exports, DM excl Japan, USD, SA"
75,Monthly,Exports,Value,"USD, SA",By Country,EU,"Exports, EU, USD, SA"
76,Monthly,Exports,Value,"USD, SA",By Country,US,"Exports, US, USD, SA"
77,Monthly,Exports,Value,"LCU, SA",Total,NaN,"Exports, All, LCU, SA"
78,Monthly,Exports,Value,"LCU, SA",By Product,Semiconductors,"Exports, Semiconductors HS 776, LCU, SA"
82,Monthly,Exports,Value,"LCU, SA",By Country,China,"Exports, China and Hong Kong, LCU, SA"
83,Monthly,Exports,Value,"LCU, SA",By Country,Japan,"Exports, DM excl Japan, LCU, SA"
86,Monthly,Exports,Value,"LCU, SA",By Country,EU,"Exports, EU, LCU, SA"
87,Monthly,Exports,Value,"LCU, SA",By Country,US,"Exports, US, LCU, SA"
165,Monthly,Exports,Value,"USD, % MoM, SA",Total,NaN,"Exports, All, USD, % MoM, SA"
166,Monthly,Exports,Value,"USD, % MoM, SA",By Product,Semiconductors,"Exports, Semiconductors HS 776, USD, % MoM, SA"
170,Monthly,Exports,Value,"USD, % MoM, SA",By Country,China,"Exports, China and Hong Kong, USD, % MoM, SA"
171,Monthly,Exports,Value,"USD, % MoM, SA",By Country,Japan,"Exports, DM excl Japan, USD, % MoM, SA"
174,Monthly,Exports,Value,"USD, % MoM, SA",By Country,EU,"Exports, EU, USD, % MoM, SA"
175,Monthly,Exports,Value,"USD, % MoM, SA",By Country,US,"Exports, US, USD, % MoM, SA"
594,Monthly,Imports,Value,USD,Total,NaN,"Imports, All, USD"
605,Monthly,Imports,Value,LCU,Total,NaN,"Imports, All, LCU"
627,Monthly,Imports,Value,"USD, % YoY",Total,NaN,"Imports, All, USD, % YoY"
637,Monthly,Imports,Value,"USD, % YoY",By Country,US,"Imports, Capital goods, parts, USD, % YoY"
638,Monthly,Imports,Value,"LCU, % YoY",Total,NaN,"Imports, All, LCU, % YoY"
660,Monthly,Imports,Value,"USD, SA",Total,NaN,"Imports, All, USD, SA"
670,Monthly,Imports,Value,"USD, SA",By Country,US,"Imports, Semi mfg equipment, USD, SA"
671,Monthly,Imports,Value,"LCU, SA",Total,NaN,"Imports, All, LCU, SA"
759,Monthly,Imports,Value,"USD, % MoM, SA",Total,NaN,"Imports, All, USD, % MoM, SA"
769,Monthly,Imports,Value,"USD, % MoM, SA",By Country,US,"Imports, Semi mfg equipment, USD, % MoM, SA, 3mma"
1188,Monthly,Trade balance,Value,USD,Total,NaN,"Trade balance, USD"
1199,Monthly,Trade balance,Value,LCU,Total,NaN,"Trade balance, LCU"
1254,Monthly,Trade balance,Value,"USD, SA",Total,NaN,"Trade balance, USD, SA"
1265,Monthly,Trade balance,Value,"LCU, SA",Total,NaN,"Trade balance, LCU, SA"

In [279]:
len(all_result)

53

In [3]:
import datetime

# Create a datetime object
dt = datetime.datetime(2023, 5, 18, 12, 0, 0)

# Convert datetime to epoch time
epoch_time = dt.timestamp()

print(epoch_time)

1684382400.0